@page
@using AnimeRatings.Website.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Anime Ratings</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@(await Html.RenderComponentAsync<AnimeList>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script>
 